<launch>
    <include file="$(find trcp_stackit)/controller_manager.launch"/>
    <include file="$(find trcp_stackit)/start_controllers.launch"/>
    <node name="stackit_robot_joint_state_publisher" pkg="trcp_stackit" type="stackit_robot_joint_state_publisher.py" output="screen"/>
    <include file="$(find trcp_stackit_moveit_config)/launch/move_group.launch"/>
    <include file="$(find trcp_stackit)/marker_detect.launch"/>
</launch>
